<hello name="{{ name }}"></hello>
<div class="container">
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <!--<app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget></app-squared-widget>
  <app-squared-widget [isPile]="true"></app-squared-widget>
  <app-squared-widget [isPile]="true"></app-squared-widget>-->
</div>
